# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Chroma DB
db/

# Streamlit cache
.streamlit/

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# PDFs (optional if large)
documents/